

@media (max-width:768px){
  nav{
    position:fixed   ;
    top:0;
    width:100%;

  }
  
  .navbox
  {position:relative; top:10px; left:80px; border-radius:5px; ;
    background-color: #FBEEEE;
   }
   .navbox a{
    color:black
   }
  .heroimg{
    width:100%;
    height:400px !important;
    position:relative;
   

  }
  aside{
  
  display: block !important;
    color:black;
  }
 
  h1{position:relative;
   bottom: 30vh !important;
  
  }
   p{position:relative;
    bottom: 30vh !important;
    
  }

  .signup{
    position:relative;
    width:120px !important;
    height:35px !important;
    bottom:30vh !important;
    font-size: 14px !important;
    margin-left: 130px !important;
  }
  .maincarousel{
    display: block !important;
  }
  .abu{
    display: block !important;
  }
  .people{
    display: block !important;
  }
  .people p{
    display: block !important;
  }
  .footer{
    display: block !important;
    text-align: center;
 
    height:500px !important;
  }
  .footer ul{
    margin-top:10px;
    padding:10px 10px 10px 10px;
  }
  .footer p{
   display: flex !important;
   justify-content: center;
   margin-top: 300px;
  }
  .Hero p{
    font-size: 14px !important;
  }
  .Hero h3{
    margin-left: 10px !important;
  }
  .mobile-only{
    display: block !important;
  }
  .formsubmit{
    margin-left: 100px !important;
    width:120px;
    height:35px;
  }
.common{
  display: flex;
  justify-content: center;
  align-items: center;
   
}
iframe{
  width:100%!important;

}
.box{
  width:350px;
  height:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-left: 5vw !important;
  background-color: #FBEEEE;
  flex-wrap: wrap;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgb(131, 125, 125);
}
.flatbox{
  width:250px;
  height:50px;
  background-color: #3d3d38;
  border-radius: 7px;
}
.flatbox p{
  margin-top: 32vh  !important;
}
.profile-pic{
  width:60px !important;
  height:60px !important;
  border-radius: 50% !important;
  margin-left: 2px !important;
 
}


}
.heroimg{
  width:100%;
  height:550px;
 

}
 h1{position:relative;bottom:60vh}
 p{position:relative;bottom:60vh}

.signup{
  background-color:#3d3d38;
  color:white;
  width:160px;
  height:45px;
  border:none;
  border-radius:5px;
  display:flex;
  justify-content:center;
  align-items:center;
 margin-left: 670px;
 position: relative;

 bottom: 60vh;

}
aside{

  display: none;

}
.maincarousel{
  display: none;
}
.abu{
  display:none;
}
.people{
  display:none;
}
.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:300px;
}
.footer p{
  display:none;
}
.mobile-only{
  display: none;
}
.formsubmit{
 width:140px;
 height:45px;
 border:none;
 background-color: #3d3d38;
 border-radius: 5px;
 color:white;
 font-size: 18px;
 font-weight: 600;
 margin-left: 550px;
}
iframe{
  margin-right: 50px;
  width:500px;
}
.box{
  width:350px;
  height:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-left: 30vw;
  background-color: #FBEEEE;
  flex-wrap: wrap;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgb(131, 125, 125);
}
.flatbox{
  width:250px;
  height:50px;
  background-color: #3d3d38;
  border-radius: 7px;
}
.flatbox p{
  margin-top: 62vh ;
 
}
#chat{
  color:rgb(107, 104, 104);
  box-shadow: 2px 2px 2px ;
 
}
#video{
  color:rgb(107, 104, 104);
  box-shadow: 2px 2px 2px ;
 
}
.communication{
  display: flex;
  justify-content:space-evenly;
}
/*.chat-app {
  display: flex;
  justify-content: center;
  width:100%;
  background-color: #FBEEEE;
}*/
/*.chat-list {
  width:50%;
  
  border-right: 1px solid #ddd;
 

}
.chat-window {
  flex: 1;
  display: flex;
 
  background-color: #FBEEEE;
  flex-direction: column;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.message-input {
  display: flex;
  padding: 10px;
  width:50%;
  border-top: 1px solid #ddd;
}*/
.profile-pic{
  width:100px;
  height:100px;
  border-radius: 50%;
  margin-left: 100px;
}

